@model Web.Models.SprintModel.SprintViewModel 

@{
    ViewData["Title"] = "Edit Sprint";
    var projectId = Model.ProjectId;
}

<h1>Edit Sprint</h1>

<h4>Sprint</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" asp-controller="Sprint">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                        <th>Users</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="Name" class="form-control form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Description" class="form-control form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="StartDate" class="form-control form-control" type="date" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EndDate" class="form-control form-control" type="date" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </td>                       
                        <td>
                            <div>
                                <select asp-for="AssignedUserIds" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))" class="form-control" multiple></select>
                            </div>
                            <a asp-action="SelectUsers" asp-controller="Sprint" asp-route-sprintId="@Model.Id" class="btn btn-info">Add Users</a>
                        </td>
                        <td class="align-middle">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="ProjectId" />
                            <button type="submit" class="btn btn-primary btn-lg">Save</button>
                            <form asp-action="DeleteConfirmed" method="post" class="d-inline">
                                <input type="hidden" asp-for="Id" />
                                <button type="submit" class="btn btn-danger btn-lg">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="text-end mt-3">
            <a asp-action="Index" asp-controller="Project" asp-route-projectId="@Model.ProjectId" class="btn btn-secondary">Back to Project</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

