@model Web.Models.TaskWorkModel.TaskViewModel

@{
    ViewData["Title"] = "Create Task";
}

<h1>Create Task</h1>

<form asp-action="CreateTask">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="SprintId" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div>
    <a asp-action="Details" asp-controller="Sprint" asp-route-id="@Model.SprintId" class="btn btn-secondary">Back to Sprint</a>
</div>